node_modules
jspm_packages
.npm
.yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Next.js build/cache output
.next
out
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs

# VCS / IDE
.git
.gitignore
.idea
.vscode
.vscode-test

# Local / temp
.env*
.xcode.env.local
